<!DOCTYPE html>
<html>
<body>

  <h1>Movies</h1>
  <a href='/movies'> Check All Movies </a>

  <form action="/movies" method="get">
    <label for="query">Search: </label>
    <input type="text" name="query" id="query" />

    <input type="submit" value="Search" />
  </form>




</body>
</html>
